@charset "utf-8";
/* CSS Document */

p,strong{
	line-height: 0px;
}
h2{
	line-height: 50px;
}
#head{
	height: 100%;
	margin: 0;
	background-color: black;
}
h1{
	text-align: center;
	background: #7181FF;
	color: white;
	line-height: 200px;
	float: left;
	height: 720px;
	width: 175px;
	margin-top: 0;
	margin-right: 30px;
}
div{
	width: 60%;
	margin: 0 auto;
	background-color: #F7F7F7;
}